[submodule "build"]
	path = build
	url = https://github.com/azhigaylo/build.git
[submodule "homebrain_core"]
	path = homebrain_core
	url = https://github.com/azhigaylo/homebrain_core.git
[submodule "mqttgateway"]
	path = mqttgateway
	url = https://github.com/azhigaylo/mqttgateway.git
[submodule "pointmonitor"]
	path = pointmonitor
	url = https://github.com/azhigaylo/pointmonitor.git
[submodule "csvparser"]
	path = csvparser
	url = https://github.com/azhigaylo/csvparser.git
